<div class="col-md-3" >
  <div class="thumbnail">
    <img src="{{singleBook.imgPath}}" />
    <div class="caption">
      <p>{{singleBook.title |titlePipe}}</p>
      <p>{{singleBook.author}}</p>
      <p>{{singleBook.date}}</p>
    </div>
    <div class="btn-group groupBtns">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" (click)="emitSelectedBookToEdit(singleBook,index)">
        <span class="glyphicon glyphicon-pencil" style="color:white"></span>
      </button>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteModal" (click)="emitSelectedBookToDelete(singleBook)">
        <span class="glyphicon glyphicon-trash" style="color:white"></span>
      </button>
    </div>
  </div>
</div>
